{% extends 'home.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form method="post" class="login-form">
        {% csrf_token %}
        <label for="id_username">Username:</label>
        <input type="text" id="id_username" name="username" placeholder="Enter your username" required>
        <label for="id_password">Password:</label>
        <input type="password" id="id_password" name="password" placeholder="Enter your password" required>
        <button type="submit" class="btn-login">
            <i class="bx bx-log-in"></i> Login
        </button>
    </form>
</div>
{% endblock %}
